
<div class="space-y-10">
  <mat-card class="anuncio-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>J*** A*****</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://imganuncios.mitula.net/medium/fiat_uno_way_2011_flex_fiat_uno_way_10_flex_completo_trocamos_e_financiamos_3720032690808281725.jpg" alt="Photo of a uno">
    <mat-card-content>
      <p>
        Fiat Uno Way 1.4 Prata 2011.
      </p>
      <p>
        único dono
      </p>
      <p>92000km rodados</p>
      <p>bem cuidado</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="app-anuncio">COMPRAR R$99999.999</button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <div style = "position:absolute; left:100px; top:850px; ">
    <b>Você pode se interessar</b>
 </div>
  <mat-card class="sg1-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>V***** A*****</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://cdn.autopapo.com.br/carro/toyota/etios-sedan-xs-15-flex-2016/frente-v3.jpg" alt="Photo of a etios">
    <mat-card-content>
      <p>
        Toyota Etios XLS Prata 2016.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="app-anuncio">Ver anuncio</button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="sg2-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>A*****</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://imganuncios.mitula.net/medium/volkswagen_1994_gasolina_logus_1_8_gl_6730103675347031785.jpg" alt="Photo of a logus">
    <mat-card-content>
      <p>
        Volkswagen Logus Vinho 1995.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="app-anuncio">Ver anuncio</button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="sg3-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>R*****</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="https://img.olx.com.br/images/99/990353819404118.jpg" alt="Photo of a gol">
    <mat-card-content>
      <p>
        Volkswagen Gol Prata 2011.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="app-anuncio">Ver anuncio</button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
        <mat-icon>favorite</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>

  <table>
    <tr>
      <th>Modelo</th>
      <th>Preço</th>
      <th>Ano</th>
    </tr>
    <tr>
      <td>Fiat Uno Way 1.4 2011</td>
      <td>R$ 35000.00</td>
      <td>Prata</td>
    </tr>
    <tr>
      <td>Fiat Uno Way 1.0 2012</td>
      <td>R$ 40000.00</td>
      <td>Verde</td>
    </tr>
    <tr>
      <td>Fiat Uno Way 1.4 2013</td>
      <td>R$ 45000.00</td>
      <td>Azul</td>
    </tr>
    <tr>
      <td>Fiat Uno Way 1.0 2012</td>
      <td>R$ 42500.00</td>
      <td>Vermelho</td>
    </tr>
    <tr>
      <td>Fiat Uno Way 1.4 2011</td>
      <td>R$ 38000.00</td>
      <td>Prata</td>
    </tr>
    <tr>
      <td>Fiat Uno Way 1.0 2012</td>
      <td>R$ 41000.00</td>
      <td>Preto</td>
    </tr>
  </table>
  
  
</div>
