<mat-toolbar color="primary" class="p-4">
  <span>TecWebAuto</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="app-home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-usuario">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
<div class="flex justify-center items-start h-screen mx-10 my-10">
  <router-outlet></router-outlet>
</div>
