<div class="space-y-10">

  <mat-form-field c>
    <input type="tel" matInput placeholder="Digite o modelo do veículo">
    </mat-form-field>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
      <mat-icon>search</mat-icon>
    </button>
    <mat-card class="uno-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>J*** A*****</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://imganuncios.mitula.net/medium/fiat_uno_way_2011_flex_fiat_uno_way_10_flex_completo_trocamos_e_financiamos_3720032690808281725.jpg" alt="Photo of a uno">
      <mat-card-content>
        <p>
          Fiat Uno Way 1.4 Prata 2011.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="app-anuncio">Ver anuncio</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="etios-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>V***** A*****</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://cdn.autopapo.com.br/carro/toyota/etios-sedan-xs-15-flex-2016/frente-v3.jpg" alt="Photo of a etios">
      <mat-card-content>
        <p>
          Toyota Etios XLS Prata 2016.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="app-anuncio">Ver anuncio</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="logus-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>A*****</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://imganuncios.mitula.net/medium/volkswagen_1994_gasolina_logus_1_8_gl_6730103675347031785.jpg" alt="Photo of a logus">
      <mat-card-content>
        <p>
          Volkswagen Logus Vinho 1995.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="app-anuncio">Ver anuncio</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="gol-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>R*****</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://img.olx.com.br/images/99/990353819404118.jpg" alt="Photo of a gol">
      <mat-card-content>
        <p>
          Volkswagen Gol Prata 2011.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="app-anuncio">Ver anuncio</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="hrv-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>J***</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://http2.mlstatic.com/D_NQ_NP_902341-MLB72383218857_102023-O.webp" alt="Photo of a hrv">
      <mat-card-content>
        <p>
          Honda HRV Vinho 2019.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="app-anuncio">Ver anuncio</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="palio-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>J*** A*****</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="https://img0.icarros.com/dbimg/imgadicionalanuncio/1/317024506_1" alt="Photo of a palio">
      <mat-card-content>
        <p>
          Fiat Palio Azul 2002.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button routerLink="app-anuncio">Ver anuncio</button>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="app-anuncio">
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
</div>
